body
{
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.roundedBox
{
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -mox-border-radius: 6px;
    background-color: #EEE;
    padding: 20px;
}

.login, .loginFadeless
{
    display:none;
}

.logout, .logoutFadeless
{
    display:none;
}

.step
{
	margin-left: -20px;
	padding-left: 20px;
}

.stepsContainer hr
{
	margin: 5px;
	color: #CDCDCD;
	border-color: #CDCDCD ;
}

.stepsContainer .stepSelector
{
	float:left;
}

.stepsContainer .stepTitleText
{
	margin-left: 5px;
}